In [1]:
import pandas as pd

In [30]:
input = pd.read_csv("test_input.txt", header=None)
numbers = input.iloc[0].copy()
# numbers = [str(int(i)) for i in numbers]
# numbers
numbers

['7',
 '4',
 '9',
 '5',
 '11',
 '17',
 '23',
 '2',
 '0',
 '14',
 '21',
 '24',
 '10',
 '16',
 '13',
 '6',
 '15',
 '25',
 '12',
 '22',
 '18',
 '20',
 '8',
 '19',
 '3',
 '26',
 '1']

In [31]:
data = pd.DataFrame(input.iloc[1:][0].str.split().values.tolist())
data.head(10)

    0   1   2   3   4
0  22  13  17  11   0
1   8   2  23   4  24
2  21   9  14  16   7
3   6  10   3  18   5
4   1  12  20  15  19
5   3  15   0   2  22
6   9  18  13  17   5
7  19   8   7  25  23
8  20  11  10  24   4
9  14  21  16  12   6

In [32]:
start = 0
stop = 5
dfs = []
for x in range(int(len(data)/5)):
    dfs.append(data[start:stop])
    start += 5
    stop += 5

# Part 1

In [5]:
dfs2 = dfs.copy()
df3 = []

def get_winner():
    for x in numbers:
        for i, df in enumerate(dfs):
            dfs2[i] = dfs2[i].replace(x, 0)

            if(dfs2[i] == [0, 0, 0, 0, 0]).all(1).any():
                return dfs2[i], int(x)
            elif(dfs2[i] == [0, 0, 0, 0, 0]).all(0).any():
                return dfs2[i], x

winner, winning_number = get_winner()

In [6]:
columns = [0, 1, 2, 3, 4]
winner[columns] = winner[columns].astype(int)
winner.sum().sum() * winning_number

4512

# Part 2

In [33]:
def get_winner():
    dfs2 = dfs.copy()
    for x in numbers:
        for i, df in enumerate(dfs):
            dfs2[i] = dfs2[i].replace(x, 0)

            if(((dfs2[i] == [0, 0, 0, 0, 0]).all(1).any()) or (dfs2[i] == [0, 0, 0, 0, 0]).all(0).any()):
                del dfs[i]
                if len(dfs) == 0:
                    return dfs2[i], int(x)  

winner, winning_number = get_winner()

In [34]:
winner.dtypes

0    object
1    object
2    object
3    object
4    object
dtype: object

In [35]:
winning_number

16

In [36]:
winner[columns] = winner[columns].astype(int)
winner.sum().sum()

137

In [37]:
columns = [0, 1, 2, 3, 4]
winner.sum().sum() * winning_number # 33418 too high

2192

In [29]:
winner

    0   1  2   3   4
5   3  15  0   0  22
6   0  18  0   0   0
7  19   8  0  25   0
8  20   0  0   0   0
9   0   0  0  12   6

In [15]:
dfs

[    0   1   2   3   4
 5   3  15   0   2  22
 6   9  18  13  17   5
 7  19   8   7  25  23
 8  20  11  10  24   4
 9  14  21  16  12   6]