In [2]:
import pandas as pd

In [6]:
input = pd.read_csv("input.txt", header=None)
input

                                                     0
0    fgcae ebafc cabdef eg abecfg abgfed feg gafdc ...
1    eagd cad fgadbc aefdcg dcebfg fcegd cbeaf ad d...
2    gfdeca aeb eb fbdag eafdc adfbe cefdab bdaegcf...
3    facbdge efdg gcafd daegc caegb aecfdb ade ed g...
4    dcaegbf bc dcgeab cbgad cebg cdfaeb fbadg acdg...
..                                                 ...
195  edfcga bcegd baeg cbgdae agdbc gce acgdebf eg ...
196  adfbe dg cagef dfgb gdbeca aefdg gda edcbaf fd...
197  cd edcbfg dbage fcaebdg facd bgcfea afbedc afb...
198  gdcbf da ecgbfda adc adgb bagcfd dfbcea egfac ...
199  bcg bc gdcbae dbca abfgde gdeba ebfacdg egcba ...

[200 rows x 1 columns]

In [7]:
numbers = pd.DataFrame([i.split('|')[1] for i in input[0]])[0].str.split(expand=True)

# numbers = input.loc[1::2][0].str.split(expand=True)

In [8]:
numbers = input[1::2][0].str.split()

In [9]:
count = 0
for x in numbers:
    for y in x:
        if((len(y) == 2) or (len(y) == 4) or (len(y) == 3) or (len(y) == 7)):
            count += 1
count

542