In [137]:
import pandas as pd
import numpy as np

In [160]:
input = pd.read_csv("input.txt", header=None).transpose()
input

        0
0    1101
1       1
2      29
3      67
4    1102
..    ...
995  1338
996   852
997   189
998   340
999  1213

[1000 rows x 1 columns]

# Part 1

In [45]:
input[1] = input.quantile()[0]
abs(input.diff(axis=1)[1]).sum()

344297.0

# Part 2

In [164]:
def summation(n):
    adding = 0
    while n != 0:
        adding += n
        n -= 1
    return adding

input[1] = int(input[0].mean())
input[2] = abs(input.diff(axis=1)[1])
sum(input[2].apply(lambda x: summation(x)))

97164301